{% extends "ScoreBoardBundle::layout.html.twig" %}

{% set activePage = 'match' %}

{% block content %}
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<div class="well">
			<h1>Création de match</h1>
			<p>Ici vous pouvez créer un match en sélectionnant les deux équipes qui participent au match.</p>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Formulaire de création de match</h3>
			</div>
			<div class="panel-body">
				{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
				<div class="form-group">
					{{ form_label(form.teamA, "Team 1", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

					{# Affichage des erreurs pour ce champ précis. #}
					{{ form_errors(form.teamA) }}

					<div class="col-sm-4">
					{# Génération de l'input. #}
					{{ form_widget(form.teamA, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
				<div class="form-group">
					{{ form_label(form.teamB, "Team 2", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

					{# Affichage des erreurs pour ce champ précis. #}
					{{ form_errors(form.teamB) }}

					<div class="col-sm-4">
					{# Génération de l'input. #}
					{{ form_widget(form.teamB, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
				<div class="form-group">
					{{ form_label(form.tournament, "Tournament", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

					{# Affichage des erreurs pour ce champ précis. #}
					{{ form_errors(form.tournament) }}

					<div class="col-sm-4">
					{# Génération de l'input. #}
					{{ form_widget(form.tournament, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-3">
						<input class="btn btn-sm btn-primary" type="submit" name="Envoie" value="Créer" />
					</div>
				</div>
		    	<li><a href="{{ path('creation_ScoreBoard') }}">Vote équipe n'apparaît pas ? Créez là !</a></li>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>

{% endblock %}