{% extends "ScoreBoardBundle::layout.html.twig" %}
{% set activePage = 'home' %}
{% block content %}
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<div class="well">
			<h1>Welcome </h1>
			<p>Here you can create your match, project a screen with the score and a timeline and another screen to the referee to manage the score and the various elements that will be displayed in the timeline.</p>
		</div>
		<table class="table table-bordered">
			<tr>
				<th>Number</th>
				<th>Match</th>
				<th>Score</th>
				<th>Time</th>
				<th>Etat</th>
				<th>Consult</th>
			</tr>
			{% for match in matchs %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ match.teamA.team }} VS {{ match.teamB.team }}</td>
				<td>{{ match.Score1 }} - {{ match.Score2 }}</td>
				{% if match.finDuMatch == true %}
				<td> {{ match.DureeMatch / 60 }} minute</td>
				<td>End game</td>
				{% endif %}
				{% if match.finDuMatch == false %}
				<td>{{ (match.DureeMatch - match.timeLeft)//60 }} minute</td>
				<td>Current game</td>
				{% endif %}
				<td><a href="{{ path('match_ScoreBoard', {id: match.id}) }}"><input class="btn btn-sm btn-primary" type="button" value="Consult"/></a></td>
			</tr>
		{% endfor %}
		</table>
		<table class="table table-bordered">
			<tr>
				<th>Number</th>
				<th>Tournament</th>
				<th>Consult</th>
			</tr>
			{% for tournaments in tournament %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ tournaments.name }}</td>
				<td><a href="{{ path('tournament_ScoreBoard', {id: tournaments.id}) }}"><input class="btn btn-sm btn-primary" type="button" value="Consult"/></a></td>
			</tr>
		{% endfor %}
		</table>
	</div>
</div>
{% endblock %}