{% extends "ScoreBoardBundle::layout.html.twig" %}

{% set activePage = 'match' %}

{% block content %}

<script>
var match_id ="{{ match.id }}";
</script>
<script type="text/javascript" src="{{ asset ('bundles/ScoreBoard/js/updateScore.js') }}"></script>


<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<h1 class="contact">Page match</h1>
		<div class="Board">
			<div class="team1">
				<h2>{{ match.team1}}</h2>
				<img width="50px" height="50px" src="http://upload.wikimedia.org/wikipedia/fr/7/76/Logo_des_Girondins_de_Bordeaux.svg"/>
			</div>
			<div class="timer">
				<form id="timerform">
					<span id ="countdown">Waiting initialisation</span>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<input class="btn btn-sm btn-primary" type="button" value="Play/Pause" onclick="timerMatch.Timer.toggle();">
					<input class="btn btn-sm btn-primary"type="button" value="Initialisation" onclick="timerMatch.resetCountdown();">
					<input type='text' name='startTime' placeholder="Enter your time" style='width:150px;' />
					{% endif %}
				</form>
			</div>
			<div class="team2">
				<h2>{{ match.team2}}</h2>
				<img width="50px" height="50px" src="http://www.les-transferts.com/wp-content/uploads/2013/01/benfica.png" />
			</div>

		</div>
		<div class ="ajax">
			<div class="Score">
				<h2>Score</h2>
					<div class="scoreteam1">
						<label id="score1" value="{{ match.score1 }}"></label>
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<i id="less1" data-action="plus-team1" class="fa fa-minus"></i>
						<i id="more1" class="fa fa-plus"></i>
						{% endif %}
					</div>
					<div class="scoreteam2">
						<label id="score2" value="{{ match.score2 }}"></label>
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<i id="less2" class="fa fa-minus"></i>
						<i id="more2" class="fa fa-plus"></i>
						{% endif %}
					</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}	