{% extends "ScoreBoardBundle::layout.html.twig" %}

{% set activePage = 'tournament' %}

{% block content %}

		<div class="content">
			
			<div class="height">
				
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
					
			</div>
				

		
			<div class="quart">
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
			</div>
			<div class="demi">
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
			</div>
			<div class="finale">
				<div class="bloc"><select>{% for t in team %}<option>{{ t.team }}</option>{% endfor %}</select></div>
			</div>
		</div>


{% endblock %} 